<template>
  <div>
    <v-dialog v-model="productDialog" max-width="500px" persistent>
      <product-form
        :title="dialogTitle"
        :data="editedItem"
        @onCancel="closeProductDialog"
        @onSave="onSaveItem"
      />
    </v-dialog>

    <v-dialog v-model="productDetailDialog" max-width="500px">
      <product-detail :data="product" @onClose="closeProductDetailDialog" />
    </v-dialog>

    <v-dialog v-model="filterDialog" max-width="500px">
      <product-filter @onOk="onConfirmFilter" />
    </v-dialog>

    <v-dialog v-model="deleteDialog" max-width="500px">
      <v-card>
        <v-card-title class="text-h5"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeDeleteDialog"
            >Cancel</v-btn
          >
          <v-btn color="blue darken-1" text @click="confirmDelete">OK</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-row class="mt-1">
      <v-col align="end">
        <v-btn color="primary" dark class="mb-2" @click="onClickNewItem">
          New Item
        </v-btn>
      </v-col>
      <div></div>
    </v-row>
    <v-data-table
      :headers="colunms"
      :items="items"
      :loading="loading"
      loading-text="Loading... Please wait"
      sort-by="calories"
      class="elevation-1"
      :item-class="getRowHighlight"
    >
      <template v-slot:item.image="{ item }">
        <div>
          <v-img
            v-if="!!item.image"
            :lazy-src="item.image"
            max-height="100"
            max-width="100"
            :src="item.image"
          ></v-img>
          <v-img
            v-else
            lazy-src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1200px-No-Image-Placeholder.svg.png"
            max-height="100"
            max-width="100"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1200px-No-Image-Placeholder.svg.png"
          ></v-img>
        </div>
      </template>
      <template v-slot:item.qty="{ item }">
        <span v-if="item.qty > 0">{{ item.qty }}</span>
        <span v-else style="color: red">Out of stock</span>
      </template>

      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Products</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <slot name="head-addons"></slot>
          <v-spacer></v-spacer>
          <v-text-field
            @input="onSearch"
            append-icon="mdi-magnify"
            label="Search by Name"
            single-line
            hide-details
            class="seach-text-field"
          ></v-text-field>
          <v-btn icon :ripple="false" @click="openFilterDialog">
            <v-icon>mdi-filter</v-icon>
          </v-btn>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="viewDetail(item)"> mdi-eye </v-icon>
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon small @click="onClickDeleteItem(item)"> mdi-delete </v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import ProductForm from './ProductForm.vue'
import ProductFilter from './ProductFilter.vue'
import ProductDetail from './ProductDetail.vue'
export default {
  name: 'ProductTable',
  components: {
    ProductForm,
    ProductFilter,
    ProductDetail
  },
  props: {
    loading: {
      type: Boolean,
      required: true
    },
    items: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    search: '',
    filterDialog: false,
    productDialog: false,
    productDetailDialog: false,
    deleteDialog: false,
    colunms: [
      {
        text: '#ID',
        align: 'start',
        sortable: false,
        value: 'id'
      },
      { text: 'Name', value: 'name' },
      { text: 'Description', value: 'description', width: 400 },
      { text: 'Quantity', value: 'qty', width: 100 },
      { text: 'Price ($)', value: 'price' },
      { text: 'Image', value: 'image' },
      { text: 'Actions', value: 'actions', sortable: false }
    ],
    editedIndex: -1,
    editedItem: {
      name: '',
      description: '',
      price: 0.0,
      qty: 0,
      image: ''
    },
    defaultItem: {
      name: '',
      description: '',
      price: 0.0,
      qty: 0,
      image: ''
    },
    product: {}
  }),

  computed: {
    dialogTitle() {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    }
  },

  watch: {
    productDialog(val) {
      val || this.closeProductDialog()
    },
    deleteDialog(val) {
      val || this.closeDeleteDialog()
    }
  },

  methods: {
    getRowHighlight(item) {
      if (item.qty < 10) {
        return 'highlight'
      }
    },
    onSearch(val) {
      this.$emit('onSearch', val)
    },

    // filter dialog
    openFilterDialog() {
      this.filterDialog = true
    },
    closeFilterDialog() {
      this.filterDialog = false
    },
    onConfirmFilter(value) {
      this.$emit('onFilter', value)
      this.filterDialog = false
    },

    // View detail
    viewDetail(item) {
      this.product = item
      this.productDetailDialog = true
    },
    closeProductDetailDialog() {
      this.productDetailDialog = false
    },
    // Delete action
    onClickDeleteItem(item) {
      this.editedIndex = this.items.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.deleteDialog = true
    },
    confirmDelete() {
      this.$emit('onDelete', this.editedItem)
      this.closeDeleteDialog()
    },
    closeDeleteDialog() {
      this.deleteDialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    // create or edit items
    onClickNewItem() {
      this.productDialog = true
    },
    editItem(item) {
      this.editedIndex = this.items.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.productDialog = true
    },
    closeProductDialog() {
      this.productDialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    onSaveItem(data) {
      if (this.editedIndex > -1) {
        this.$emit('onSave', { action: 'edit', data })
      } else {
        this.$emit('onSave', {
          action: 'create',
          data: {
            id: this.$uuid.v1(),
            ...data
          }
        })
      }
      this.closeProductDialog()
    }
  }
}
</script>

<style>
.seach-text-field {
  width: 100px;
}
.highlight {
  background-color: #e7d52e54;
}
</style>
