<template>
  <v-card>
    <v-card-title>
      <span class="text-h5">Filter</span>
    </v-card-title>
    <v-card-text>
      <div class="mt-4">
        <label>Price ($) </label>
        <v-row>
          <v-col class="px-4">
            <v-range-slider
              v-model="priceRange"
              :min="price.min"
              :max="price.max"
              hide-details
              class="align-center"
            >
              <template v-slot:prepend>
                <v-text-field
                  :value="priceRange[0]"
                  class="mt-0 pt-0"
                  hide-details
                  single-line
                  type="number"
                  style="width: 60px"
                  @change="$set(priceRange, 0, $event)"
                ></v-text-field>
              </template>
              <template v-slot:append>
                <v-text-field
                  :value="priceRange[1]"
                  class="mt-0 pt-0"
                  hide-details
                  single-line
                  type="number"
                  style="width: 60px"
                  @change="$set(priceRange, 1, $event)"
                ></v-text-field>
              </template>
            </v-range-slider>
          </v-col>
        </v-row>
      </div>
      <div class="mt-4">
        <span>Quantity</span>
        <v-row>
          <v-col class="px-4">
            <v-range-slider
              v-model="quantityRange"
              :min="quantity.min"
              :max="quantity.max"
              hide-details
              class="align-center"
            >
              <template v-slot:prepend>
                <v-text-field
                  :value="quantityRange[0]"
                  class="mt-0 pt-0"
                  hide-details
                  single-line
                  type="number"
                  style="width: 60px"
                  @change="$set(quantityRange, 0, $event)"
                ></v-text-field>
              </template>
              <template v-slot:append>
                <v-text-field
                  :value="quantityRange[1]"
                  class="mt-0 pt-0"
                  hide-details
                  single-line
                  type="number"
                  style="width: 60px"
                  @change="$set(quantityRange, 1, $event)"
                ></v-text-field>
              </template>
            </v-range-slider>
          </v-col>
        </v-row>
      </div>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="onOk">Ok</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'ProductFilter',
  data: () => ({
    valid: true,
    price: {
      min: 0,
      max: 1000
    },
    priceRange: [0, 1000],
    quantity: {
      min: 0,
      max: 3000
    },
    quantityRange: [0, 3000]
  }),
  methods: {
    onOk() {
      this.$emit('onOk', {
        price: {
          min: this.priceRange[0],
          max: this.priceRange[1]
        },
        quantity: {
          min: this.quantityRange[0],
          max: this.quantityRange[1]
        }
      })
    }
  }
}
</script>
