<template>
  <v-card>
    <v-card-title>
      <span class="text-h5">{{ title }}</span>
    </v-card-title>

    <v-card-text>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-container>
          <v-row>
            <v-col cols="12" sm="6" md="12">
              <v-text-field
                v-model="data.name"
                label="Name"
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="12">
              <v-text-field
                v-model="data.description"
                label="Description"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="12">
              <v-text-field
                type="number"
                min="0"
                v-model="data.qty"
                label="Quantity"
                :rules="[rules.required, rules.positive, rules.integer]"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="12">
              <v-text-field
                v-model="data.price"
                label="Price"
                :rules="[rules.required, rules.positive]"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="12">
              <v-file-input
                v-model="file"
                truncate-length="15"
                label="Image"
                accept="image/*"
              ></v-file-input>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="onCancel"> Cancel </v-btn>
      <v-btn color="blue darken-1" text @click="onSave" :disabled="!valid">
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'ProductForm',
  props: {
    title: {
      type: String,
      required: true
    },
    data: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    valid: true,
    file: null,
    rules: {
      required: (value) => !!value || 'Required.',
      positive: (value) => parseFloat(value) >= 0 || 'Value must be positive.',
      integer: (value) =>
        Number.isInteger(parseFloat(value)) || 'Value must be an integer.'
    }
  }),
  methods: {
    onCancel() {
      this.$refs.form.reset()
      this.$emit('onCancel')
    },
    onSave() {
      if (!this.$refs.form.validate()) return
      this.$emit('onSave', { ...this.data, file: this.file })
      this.$refs.form.reset()
    }
  }
}
</script>
