<template>
  <v-card>
    <v-card-title>
      <span class="text-h5">Product Detail</span>
    </v-card-title>
    <v-card-text>
      <table>
        <tr>
          <b>Product ID: </b>
          {{
            data.id
          }}
        </tr>
        <tr>
          <b>Name: </b>
          {{
            data.name
          }}
        </tr>
        <tr>
          <b>Quantity: </b>
          {{
            data.qty
          }}
        </tr>
        <tr>
          <b>Price: </b>
          {{
            data.price
          }}
        </tr>
      </table>
      <div class="mt-2">
        <v-img :src="data.image" :lazy-src="data.image" width="600px" />
      </div>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="$emit('onClose')">
        Close
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'ProductDetail',
  props: {
    data: {
      type: Object,
      required: true
    }
  }
}
</script>
