<template>
  <ProductTable
    :loading="isLoadingProducts"
    :items="products"
    @onSave="onSaveItem"
    @onDelete="onDeleteItem"
    @onSearch="onSearch"
    @onFilter="onFilter"
  >
    <template #head-addons>
      <span>* Add-ons slot goes here</span>
    </template>
  </ProductTable>
</template>

<script>
import ProductTable from '../../components/products/ProductTable.vue'
import { mapState } from 'vuex'
import fileService from '../../services/file'

export default {
  components: {
    ProductTable
  },
  data() {
    return {
      isLoadingProducts: false,
      filter: {},
      searchDebounce: this.$util.debounce(
        (filter) => this.fetchProducts(filter),
        1000
      )
    }
  },
  created() {
    this.fetchProducts({})
  },
  computed: {
    ...mapState({
      products: (state) => state.product.items
    })
  },
  methods: {
    async fetchProducts(filter) {
      this.isLoadingProducts = true
      await this.$store.dispatch('product/getAllProducts', filter)
      this.isLoadingProducts = false
    },
    onSearch(val) {
      this.filter = { ...this.filter, search: val }
      this.searchDebounce(this.filter)
    },
    onFilter({ price, quantity }) {
      this.filter = { ...this.filter, price, quantity }
      this.fetchProducts(this.filter)
    },
    async onSaveItem({ action, data }) {
      if (data.file) {
        const image = await fileService.upload(data.file)
        data.image = image
      }

      if (action === 'create') {
        this.$store.dispatch('product/create', data)
      } else if (action === 'edit') {
        this.$store.dispatch('product/updateById', data)
      }
    },
    onDeleteItem(item) {
      this.$store.dispatch('product/deleteById', item.id)
    }
  }
}
</script>
