<template>
  <div class="login">
    <v-sheet elevation="2" class="px-6 py-6" width="400">
      <h3>Login</h3>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="submit"
      >
        <v-text-field
          v-model="username"
          :rules="[rules.required]"
          label="Username"
          :error="false"
        ></v-text-field>

        <v-text-field
          autocomplete="false"
          v-model="password"
          :rules="[rules.required]"
          label="Password"
          :append-icon="isShowPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="isShowPassword ? 'text' : 'text'"
          @click:append="isShowPassword = !isShowPassword"
        ></v-text-field>

        <div class="d-flex justify-end">
          <v-btn
            :loading="isLogginIn"
            :disabled="!valid"
            type="submit"
            color="primary"
          >
            Login
          </v-btn>
        </div>
      </v-form>
    </v-sheet>
  </div>
</template>

<script>
export default {
  data: () => ({
    valid: true,
    username: '',
    password: '',
    isShowPassword: false,
    isUsernameCorrect: true,
    isPasswordCorrect: true,
    isLogginIn: false,
    rules: {
      required: (v) => !!v || 'Required.'
    }
  }),

  methods: {
    async submit() {
      if (!this.$refs.form.validate()) return
      try {
        this.isLogginIn = true
        await this.$store.dispatch('auth/login', {
          username: this.username,
          password: this.password
        })
        this.$router.replace('/')
      } catch (error) {
        this.$notify({
          group: 'auth',
          type: 'error',
          title: 'Error',
          text: error.message
        })
      } finally {
        this.isLogginIn = false
      }
    }
  }
}
</script>

<style scoped>
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}
</style>
