<template>
  <div id="app">
    <notifications
      group="auth"
      position="bottom right"
      :duration="3000"
      :max="1"
    />
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
const defaultLayout = 'default'
export default {
  name: 'App',
  computed: {
    layout() {
      return (this.$route.meta.layout || defaultLayout) + '-layout'
    }
  }
}
</script>

<style>
body {
  background-color: #121212;
}
</style>
